.displayScrollBar {
  overflow-y: scroll;
}
h1 {
  font-family: "Barriecito", "Noto Sans SC", sans-serif;
}

/* set background image to dots */
.bg-dots {
  background-image: radial-gradient(blue 1px, transparent 1px);
  background-size: 15px 15px;
}

.sixtyfour-convergence-coca {
  font-family: "Sixtyfour Convergence", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
}
