.displayScrollBar {
  overflow-y: scroll;
}
h1 {
  font-family: "Barriecito", "Noto Sans SC", sans-serif;
}

/* set background image to dots */
.bg-dots {
  background-image: radial-gradient(blue 1px, transparent 1px);
  background-size: 15px 15px;
}
